
<br><h5 class="alert alert-success">Showing Result by Category</h5>
<div class="row">

  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let products of productList">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{products.productImg}}" alt=""></a>
      <div class="card-body">

        <h4 class="card-title">
          <a routerLink="view-product/{{products.id}}">{{products.productName}}</a>
        </h4>

        <h5><small>&#8377;</small>{{products.price}}</h5>
        <p class="card-text">{{products.descriptions}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{products.rating}}&#9733;</small>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
